.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#mama
{
   border-width: 10px;
   background-color: navajowhite;
   border-style: ridge;
   border-color: orange;
}

